@font-face{
	font-family:magista;
	src:url(font/magista.ttf) format('truetype');
}
@font-face{
	font-family:child;
	src:url(font/child.otf) format('opentype');
}
@font-face{
	font-family:whisper;
	src:url(font/whisper.otf) format('opentype');
}
.child{
	font-family: child;
	font-size: 40px;
	color:blue;
}
.magista{
	font-family: magista;
	font-size: 40px;
	color:red;
}
.whisper{
	font-family: whisper;
	font-size: 40px;
	color:red;
}


table{
	border-collapse: collapse;

}
td{
	border:2px solid black;
}
